In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("../project-shark-attacks/Input/GSAF5.csv")

In [6]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [7]:
print(df.columns)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [8]:
df = df.rename(columns={"Sex ": "Sex"})
df = df.rename(columns={"Species ": "Species"})

In [9]:
#selecciono las columnas que me interesan para estudiar cómo ha afectado la moda del surf en los ataques de tiburones.
df=df[['Case Number','Year','Country','Activity']]
df.head(20)

     Case Number  Year        Country           Activity
0   2016.09.18.c  2016            USA            Surfing
1   2016.09.18.b  2016            USA            Surfing
2   2016.09.18.a  2016            USA            Surfing
3     2016.09.17  2016      AUSTRALIA            Surfing
4     2016.09.15  2016      AUSTRALIA            Surfing
5   2016.09.15.R  2016      AUSTRALIA            Fishing
6     2016.09.11  2016            USA             Wading
7     2016.09.07  2016            USA           Swimming
8     2016.09.06  2016  NEW CALEDONIA       Kite surfing
9   2016.09.05.b  2016            USA    Boogie boarding
10  2016.09.05.a  2016      AUSTRALIA            Surfing
11    2016.09.04  2016            USA      Body boarding
12    2016.09.01  2016            USA       Spearfishing
13  2016.08.29.b  2016            USA            Surfing
14  2016.08.29.a  2016            USA            Surfing
15    2016.08.27  2016        REUNION            Surfing
16    2016.08.25  2016            USA             Wading
17    2016.08.07  2016        BAHAMAS         Snorkeling
18    2016.08.06  2016            USA  SUP Foil boarding
19    2016.08.04  2016            USA            Surfing

In [10]:
df=df.rename(columns={'Case Number':'Case Id'})

In [11]:
df.shape

(5992, 4)

In [12]:
#elimino filas duplicadas
df.drop_duplicates(subset ="Case Id", keep = False, inplace = True)

In [13]:
df.shape

(5960, 4)

In [14]:
print(df.dtypes)

Case Id     object
Year         int64
Country     object
Activity    object
dtype: object

In [15]:
surf_df = df[(df['Activity']=='Surfing')]

In [16]:
surf_df.shape

(898, 4)

In [17]:
df["Activity"].value_counts().head(30)

Surfing               898
Swimming              818
Fishing               411
Spearfishing          319
Bathing               153
Wading                141
Diving                123
Standing               97
Snorkeling             76
Scuba diving           73
Body boarding          54
Body surfing           48
Swimming               47
Treading water         32
Pearl diving           32
Kayaking               28
Free diving            26
Boogie boarding        26
Fell overboard         21
Windsurfing            18
Boogie Boarding        16
Shark fishing          15
Walking                15
Rowing                 12
Fishing                12
Floating               12
Surf skiing            12
Canoeing               12
Surf-skiing            12
Fishing for sharks     11
Name: Activity, dtype: int64

In [18]:
#compruebo el número de valores nulos por columna
null_cols = df.isnull().sum()
null_cols

Case Id       0
Year          0
Country      43
Activity    522
dtype: int64

In [19]:
#le doy un valor a los nulos de la columna país porque me interesa más la actividad que el país
df["Country"].fillna("Unknown", inplace = True)

In [20]:
#elimino los nulos
df=df.dropna()

In [21]:
df.shape

(5438, 4)

In [22]:
set(df["Activity"])

{'Swimming back from anchored sailboat',
 'Free diving but treading water at surface',
 'Fishing in shoulder-deep water',
 'Harassing a shark',
 'Washing cooking pans',
 'Wind surfing',
 'Kayak Fishing',
 'Swimming with mask & snorkel',
 'Removing shark from a net',
 'Hookah diving',
 'Fell overboard & swimming',
 'Spearfishing, but standing in the water',
 'Fell overboard from a frigate & was swallowed by a shark. The captain fired a gun at the shark, and "the creature cast the man out of his throat."',
 'Fishing with hand line tied to wrist & was pulled into the water',
 'American cruiser Indianapolis torpedoed & sunk by the Japanese submarine I-58',
 'Air disaster',
 'Swimming / floating on his back',
 'Sinking of the dredge World Atlas',
 'Splashing / wading',
 'Night diving',
 'Swimming to mail boat',
 'Swimming in hip-deep water',
 'Standing / surfing',
 'Swimming to canoe',
 'Free diving & spearfishing (descending)',
 'Attempting to fix motor',
 'Ditched aircraft, 3 men in the water. Swam for 31 hours',
 'Spearfishing/ filming',
 'Retrieving bait box that had fallen overboard',
 'Swimming outside the safety enclosure attempting to retrieve a tennis ball drifting toward midstream ',
 'Fell oveboard from steamer Wanderer',
 'Diving for crayfish',
 'Free diving for abalone (ascending)',
 'Diving / Filming',
 'Fishing, catching snoek, Thyrsites atun',
 'In waist-deep water',
 'Floating',
 'Standing / Bathing',
 'In water with diving seabirds',
 'Pearl diving, but standing in the water',
 'Fishing for the shark that killed George Lundberg',
 'Ascending from a dive',
 'Scuba diving (submerged)',
 'Scuba diving in aquarium tank',
 "Skin diving. Grabbed shark's tail; shark turned & grabbed diver's ankle & began towing him to deep water",
 '13 men in the water after sailboat capsized & sank',
 'Fishing in Alabama Deep Fishing Rodeo',
 'Collecting shells',
 'Competing in spearfishing championship & towing dead fish',
 'Leaving the water',
 'Exercising his dog in the shallows',
 'Body-boarding',
 'Paddle-surfing',
 'R5D aircraft went down with 29 on board',
 'Fishing (Drowned 2-Apr-2002)',
 'Fishing for rock lobster',
 'Diving around anchored liner',
 'Washed overboard into school of fish',
 'Inebriated, woke from sleep and fell off deck into the water ',
 'Fishing from surf ski',
 'Murder victim',
 'Spearing a shark',
 'Diving / UW photography',
 'Skindiving',
 'Fell from the jetty',
 'Petting a shark',
 'Free diving for sinkers',
 'boat from the Austrian ship Elizabeth',
 'Boat capsized, swimming ashore',
 'Kayaking / Fishing',
 'Fishing / washing bait off hands',
 'Surfing with dolphins',
 'Fishing, removing the shark from his line',
 'Surfing, pushing board ashore',
 'Ejected from F3H-2 aircraft ',
 'Jerked overboard while pole fishing for tuna',
 'Fishing for albacore',
 'Spearfishing, but swimming at surface',
 '3 men & 2 boys picked up wearing life jackets and with inner tube',
 'native boats sunk in storm',
 'Checking fish traps, fell into the water',
 'Body surfing / treading water',
 'Feeding stingrays?',
 'boat from City of Naples capsized',
 'Swimming to shore after boat capsized by a squall',
 'Washing a dog',
 'Floating or standing',
 'Fishing boat swamped in a storm',
 'Fishing, fell from rocks & disappeared',
 'Dangling feet in the water',
 'Goggle-diving for seaweeds, but standing in water',
 'Launching rowboat through the surf',
 'Dry shelling',
 'Swimming to retrieve a flannel',
 'Sitting in the water',
 'Surfing, paddling seawards',
 'Bitten after dhow shipwrecked',
 'Small vessel with 13 men on board capsized crossing the bar and 6 men drowned.  The 7 survivors were swimming to shore',
 'Watching the shark feeding on a dead pinniped',
 'Inspecting teeth of supposedly dead (hooked & shot) shark',
 'Ocean racing',
 'Trying to catch a wounded bird',
 'Diving off pier & treading water',
 'Jumped overboard after murdering 2 shipmates',
 'Surfing / treading water',
 'Fishing for turtles',
 'Sailing on catamaran & fell into the water',
 'Standing on his hands',
 'Diving (Hookah)',
 'Diving on a wreck',
 'Dog paddling or standing',
 'Swimming with other crew near wharf',
 'Abandoning burning ship Captain George in raging seas',
 'Wreck of the steamship Birkenhead',
 'Spearfishing / Scuba diving',
 'Swept out to sea while net fishing',
 'Hardhat diving ',
 'Knocked into the water',
 'Bathing alongside ship',
 'Hookah Diving',
 'Plane crashed in water, men in life raft',
 'Two canoes with 14 aboard blown to sea in a storm. While adrift for 3 week, one person fell overboard and was killed by a shark',
 'Surf fishing in waist-deep water',
 'Rescuing',
 'Fishing from prawn trawler',
 'Swimming after boat became disabled',
 'The passenger ship Kapuna was run down the ore carrier Ada Melmore',
 'Swimming, towing the shark',
 'Freediving for abalone (at surface)',
 'Spearing fish',
 'Paddling rescue ski',
 'Spearfishing / Scuba diving (at surface)',
 'Swimming breast stoke',
 'Playing in surf with his child  (9)',
 'S.S. Ramos foundered in a hurricane. Captain & 14 crew in water-logged lifeboats. ',
 'Collecting crayfish',
 'Splashing in surf',
 'Spearfishing & lassoed shark',
 'Tuna fishing, standing on stern platform that was submerged by waves',
 'Yacht Gooney Bird foundered, 4 survivors on raft',
 'Surfing (or sailboarding)',
 'Treading water',
 'Swimming, after sailboat capsized',
 'Surf bathing',
 'Spearfishing, holding mesh bag with speared fish',
 'Swimming close to wharf',
 'Dived into a school of baitfish',
 'Tagging sharks',
 'Paddling a canoe',
 'Fishing, fell in water & swimming strongly to shore',
 'Scurfing (surfboard being  towed behind a boat)',
 'American freighter Mormackite, bound from Buenos Aires for Baltimore, capsized & sank in heavy seas',
 'Spear fishing, removing fish from spear',
 'Swimming out to porpoises ',
 'Lobstering',
 '"Flying Tiger" transport plane went down with 5 men onboard',
 'Spearfishing or fishing',
 'Sailing',
 'Jumped overboard',
 'Washing',
 'Pearl diving from lugger',
 'H.M.S. Cornwall & H.M.S.Dorsetshire sunk by Japanese dive bombers. Officers & men in the water formed a circle with 60 of their dead in the center for 36 hours',
 'Scuba diving (ascending using scooter)',
 'Diving for beche-de-mer from lugger',
 'On life raft tethered to lifeboat. A seaman put hand over side to rinse a cup',
 'Boat stopped to repair electric pump',
 'Swimming or surfing',
 'cargo ship Southern Isle sank at 04h00',
 'Floating with life buoy after pilot launch capsized',
 'Swept off deck of S.S.Frontenac enroute from West Indies to US',
 'Man fell overboard from ship. Those on board threw a rope to him with a wooden block & were pulling him to the ship',
 'Paddling',
 'Hunting seashells',
 'Steinhart Aquarium',
 'Crayfishing',
 'Wading to dinghy, carrying his son',
 'Body Boarding',
 'Washed overboard by swell',
 'Swimming alongside the SS Kearsarge',
 'Swimming/',
 'Wading, fishing for flounder',
 'Surfing or body surfing',
 'Disappeared 11 days earlier, probable homicide victim',
 'Finning the shark that bit him',
 'Adrift on raft after their ship was sunk by an Axis raider ',
 'Freedom Swimming',
 'Swimming / Body Surfing',
 'Scuba diving for bivalves',
 'Standing, stepped on shark',
 'SUP Foil boarding',
 'Paddle-boarding',
 'Conducting a promotional film project for the Gemini space program (a practice astronaut recovery)',
 'Drift fishing',
 'Scuba Diving for scallops',
 'Fell overboard',
 'Fishing for mackerel',
 'Boogie boarding / wading',
 'Touching sharks',
 'Swimming / treading water',
 'Night Surfing',
 'Hard hat diving, laying some charge of powder',
 '"Climbing up to ship after repairing the stern in water"',
 'Floating on inner tube after diving for lobster',
 'Aircaft exploded',
 'Portuguese seaman fell overboard. Boat lowered to pick up with 1st mate & 4 crew, but done hurriedly & all were thrown into the water. As a second boat was lowered, a shark went after the 1st mate but he was rescued. Then the shark went after Mr. Andrews ',
 'SCUBA diving',
 'Surfing / Wading',
 "Fell off surfboard 20' from shore",
 'Abandoning burning steamship Don Juan',
 'Gaffing netted shark',
 'Attempting to catch a crocodile',
 'Unknown, but it was said to be the "First known attack in Sydney Harbour"',
 'He drowned when boat capsized',
 'Holding onto an inflatable boat',
 'Standing / Wading',
 'Swimming from capsized pirogue',
 'Jet skiing',
 'Fishing for whiting',
 'Wading after stray fish from seine netter’s catch',
 'Diving for pearls',
 'Escaping from blackbirding vessel',
 'Surfing (or body boarding)',
 'C47 aircraft carrying 5,000 lbs of ice ditched in the sea',
 'Kayaking (returning from spearfishing)',
 'Diving for trochus',
 'Attempting to rescue drowning man',
 'Sea Disaster, sinking of the  SS Vestris',
 'Line fishing from Lakotoi, saw shoal of fish, dived overboard, had speared second fish & surfaced for air',
 'Diving for coins tossed from passenger ship',
 'Diving, feeding sharks',
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
 'Clamming',
 'Fishing / standing in waist deep water',
 'Surfing, but swimming to his board',
 'Floating on a small orange raft ',
 'Swimming near breakwater',
 'Shark hoisted on board liner Tahiti',
 'Freedom swimming',
 'Gigging for flounder',
 'S2F-1 airplane crashed immediately after carrier take-off',
 'Wreck / Technical diving',
 'Swimming (lead swimmer in race)',
 'Killing a shark',
 'Dived from dinghy to retrieve oar in heavy seas',
 'Swimming along a row of nets',
 'Catching a turtle',
 'Fell overboard from the Malacca',
 'Diving, retrieving film package from Titan 3C rocket',
 'Snorkeling on surface',
 'Rowing',
 'Cleaning a tank',
 'M.V. Tropical sank. Sole survivor rode oil drums for 8 days without food or water.',
 'Swimming to avoid capture',
 'Lying prone on surfboard',
 'Fishing (trolling)  from canoe',
 'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
 'U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.',
 'Surfing & dangling foot in water amid baitfish',
 'Fishing, Struck by another shark when removing shark from line',
 'Sea Disaster, wreck of the  SS Norwich City',
 'His balloon crashed in the harbor',
 "40' fishing boat sank",
 'Fishing, holding fish in right hand',
 'Bitten while cutting shark from net',
 'Taking boat from California to Florida when it ran aground & he was swimming back to boat',
 'Fell overboard, hanging onto lifebuoy',
 'Boat exploded',
 'Fishing for snappers & cleaning mullet. Put mullet over side of boat to wash it',
 'Attempting to escape by swimming to shore',
 "Days before the surrender of Singapore, the 3 men escaped to Sumatra where they acquired a 17' dinghy. After 125 days at sea they drifted back to Sumatra",
 'Italian liner Principessa Mafalda sank',
 'Diving. Shark “swallowed’ his hand, so he threw his other around the shark and went “shark-back riding” for 30 yards until the shark opened its jaws',
 'Helmet diving',
 'Fishing from a small boat & put his hand in the water while holding a dead fish',
 'Small boat swamped, 4  people swimming to shore but he fell behind the other 3 and vanished',
 'Crossing the bay at the ford',
 'Oyster fishing',
 'Fly fishing',
 'Beach seine netting',
 'Pulling raft out to ride to shore',
 'Gathering shells',
 'Pleasure boating',
 'Shipwrecked',
 'Attempting to free the shark',
 '3.3 m fishing boat sank. Treveluwe & Peter Hodgson (wearing lifejackets) were drifting in the current',
 'Free diving for lobster',
 'Water-skiing',
 'Fell overboard, prop slashed arm',
 'Reviving a sedated shark',
 'ship M.V. Rizal sank during typhoon',
 'Skindiving,',
 'Diving ',
 'Swimming in canal',
 'Scuba diving for abalone (at surface)',
 'Japanese aircraft shot down. He was one of two survivors rescued by the U.S. destroyer Mugford',
 'Air Disaster',
 'Searching for remains of  Dr. Marais',
 'Pulling shark from the water',
 'Wading / fishing & carrying a bag of fish',
 'The cutter Francis Adams foundered',
 'The 3540-ton Alfonso Penna was torpedoed & sunk by the Italian submarine Barbarigo',
 'Bather',
 'American minesweeper USS YMS-472 foundered in a typhoon - swimming to shore',
 'Attempting to drive shark from area',
 '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon',
 'Hunting seals',
 'Lying atop surfboard',
 "Lying prone in 2' of water",
 'Swimming ashore from fishing boat swamped and sunk by a squall',
 'Free diving ',
 'Fishing for perch',
 'The schooner Elizabeth, bound from Bluefields, Nicaragua to the river port of San Carlos foundered',
 'Spearfishing, but standing in knee-deep water',
 'Jumped overboard from Norwegian steamship Venator',
 'Walking, carrying surfboard & stepped on shark',
 'Spearfishing on scuba & transferring fish onto a stringer',
 'Fell off surf ski',
 'Windsurfing',
 'Skindiving for abalone (but at surface)',
 'Swimming in strong current with 3 others when he disappeared',
 'The USS Wahoo torpedoes & sank the Japanese troop transport Buyo Maru',
 'Fell overboard from USS cruiser Tacoma',
 'Net fishing, fell into the water',
 'After rowing skiff was holed by shark, he was attempting to swim ashore',
 'Fishing for blue sharks',
 'Sea disaster, wreck of the Alfred Watts',
 'Diving, but on the surface when bitten by the shark',
 'Murdered by Thai pirates',
 'HBM Magpie foundered in a squall',
 'Scuba diving & spearfishing',
 'Diving from dinghy for trochus shell',
 'Crossing inlet in a boat, seen fighting sharks with his oar, sharks smashed boat',
 'Standing, collecting bananas',
 'Swimming to anchored boat',
 'Survived US Naval aircraft crash, climbing onboard rescue vessel when he fell back into sea ',
 'Riding horseback across the creek',
 'Swimming or Snorkeling',
 'Crossing river on a raft',
 'Fishing, had just speared a ulua',
 'Spear fishing',
 'Catching sharks under government contract',
 'Adrift on refugee raft',
 'Spearfishing, free diving, possibly ascended into path of cruising shark',
 'Wakeboarding',
 'ship William Penn grounded & broke apart',
 'Sea Disaster, canoes capsized in storm',
 'Fishing from surfski',
 'U-177 torpedoed & sank the troopship Nova Scotia',
 'Sailboarding, fell into water 100 yards outside the breakwater',
 'Standing, collecting sea stars',
 'Helping friend land hooked shark',
 'Swimming / Wading',
 'Scuba Diving for lobster (at surface)',
 'Spearfishing (Free diving)',
 'Foundering of the Israeli freighter Mezada',
 'Paddling on surfboard',
 'Diving for trochus , but swimming on surface',
 'Fishing from shore, washed into the sea',
 'Bathing in 2 feet of water',
 'Diving, recovering fish killed by dynamite',
 'Setting crayfish pots',
 'Fishing (big game)',
 'Spearfishing, speared a small shark',
 'Kite-Boarding',
 'Standing ',
 ' ',
 'Swimming in midriver near sewage outlet & 400 m from a slaughterhouse',
 'Walking in shallows',
 'Dived from inner-tube',
 'The steamships Thingvalla and Geiser collided',
 'Diving for Abalone',
 'Standing in knee-deep water',
 'The steamship Bonnie Dundee lost in collision',
 'Fishing with dynamite',
 'Standing in waist-deep water',
 'Attempting to rescue an injured & beached shark',
 'Grabbed shark & threw it on deck',
 'Collecting fish ',
 '"Swimming vigorously"',
 'Spearfishing & had just speared a ulua',
 'SUP',
 'Put foot inside a landed & supposedly dead shark',
 "Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore",
 'Hauling dead shark aboard, when another shark leapt out of the water & bit him',
 'Diving for coins thrown from ship S.S. Moeraki',
 'Diving by wharf',
 'Free diving for scallops',
 'Closed circuit diving (submerged). Diving to recover jettisoned packets of opium for police',
 'Floating ',
 'Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore',
 'Wade-fishing',
 'Free diving / photography, kneeling on sand',
 'Diving for lobsters',
 'Ferry boat sank',
 'Skin diving ',
 'Swimming, caught in strong backwash & disappeared',
 "Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found",
 'Survived crash of two-engine  C-46 transport plane carrying 62 migrant workers from Puerto Rico to USA ',
 'Swimming / surfing',
 'Picking up shark by the tail',
 'Splashing in water ',
 'Scuba diving, reportedly also spearfishing',
 'Helmet diving, collecting trochus shell',
 'Photographing sharks underwater using Scuba',
 'Body found floating next to his ship',
 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
 'Paddling on surfboard or body board',
 'Fishing for pompano',
 'Fell overboard?',
 'Lifesaving exhibition',
 'Attempting to attract dolphins',
 'Diving, gathering shellfish',
 'boat with 46 people on board capsized',
 'Paddling & sailing from Buenos Aires to Miami',
 'Netting sharks',
 'Diving',
 'Fishing, casting in the surf',
 '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
 'Swimming or wading out  to warn bathers that a shark had been seen',
 'Hauling in net',
 'Floating on inner tube raft',
 'Playing in knee-deep water',
 'Kite Surfing',
 "a corsair's boat was overturned",
 "During a shark fishing tournament, the 18' Boatem was capsized by waves, throwing 3 men into the water ",
 'Adrift after the sinking of the motor yacht Princess Dianne',
 'Diving off wharf',
 'Moving a shark in a net ',
 'Spearfishing, but walking carrying fish on end of speargun',
 'The shrimper Loless Maurine capsized in heavy seas & the men were swimming ashore  ',
 'Hardhat diving from Japanese pearling lugger, Reiyo Maru',
 'Spearfishing / swimming on surface',
 'Scuba diving',
 'Attempting to drag hooked shark ashore by its tail',
 'Washed off catamaran in the surf',
 'Had just dived into water & was swimming',
 'On fishing boat & trailing hand in the water',
 'Launching a boat',
 'Pulling anchor',
 'Fishing, shark caught in his net',
 'During "an exhibition" he was tied in sack & thrown overboard ',
 'Fishing from dinghy',
 'Swimming after being washed overboard',
 'Sea Disaster : Wreck of the Carrie E. Long',
 'Hand feeding sharks',
 'Free diving for abalone',
 'Retrieving meat from a cage in the water',
 'Jumped off surfboard & landed on the shark',
 'Fishing for white shark',
 'Jumping',
 'Dived overboard to retrieve dinghy',
 'Playing',
 'Aircraft ditched in the sea, swimming ashore',
 'Cargo ship El Gamil entroute Suez to Yemen (Aden) when her cargo shifted and she sank. 19 Egyption sailors jumped into the water and swam for several hours before being bitten by sharks',
 'Fishing for tuna',
 'Sunbathing on beach when he saw child being attacked by the shark',
 'Surfing on air mattress',
 'pêcheur de bichiques',
 'Cargo ship Dara sank after collision with another ship during a severe storm',
 'Swimming to shore after a squall  capsized their motorized shark fishing boat',
 '3-masted steel barque Glenbank foundered during a cyclone',
 'Free diving / spearfishing',
 'Free diving / spearfishing, ',
 'Tandem surfing',
 'Trailing hand in the water',
 'The 2379-ton French steamer La Seyne collied with British steamer Onda & sank in minutes. Passengers jumped overboard expecting to be picked up by Onda’s boats',
 'Spearfishing, Smith  & Walker touched shark with tip of their guns',
 'Resting on surfboard',
 'Catching sardines',
 'Attempting to chase shark out to sea',
 'Ran into the water',
 'Dived naked into the water on a bet',
 'The 21,516-ton troopship Empress of Canada torpedoed and sunk by the Italian submarine Leonardo da Vinci',
 'Unknown, their unoccupied yawlboat was recovered',
 'Placed hand in disemboweled shark’s jaws',
 "On board 51' fishing vessel One Ki",

In [24]:
import re

"""for a in list(df["Activity"]):
    #print(re.findall(r"[Ss]urf", a), 'en:', a)
    print(re.findall(r"[Bb]oard", a),'en:', a)
      """

'for a in list(df["Activity"]):\n    #print(re.findall(r"[Ss]urf", a), \'en:\', a)\n    print(re.findall(r"[Bb]oard", a),\'en:\', a)\n      '

In [25]:
#busco las actividades que tienen surf y modalidades asociados como Surf-skiing, Kite-surfing o windsurfing
#ojo con Boogie boarding, Paddle boarding y Body boarding

In [26]:
str = "Lets go surfing to LA. I don't like surf"
x = re.search("surf", str)
print(x) 

print(re.search(r"[Ss]urf", str))
#encuentro problemas porque también aparece la palabra surface

<_sre.SRE_Match object; span=(8, 12), match='surf'>
<_sre.SRE_Match object; span=(8, 12), match='surf'>

In [27]:
x='Resting on Surfang board'
print(re.search(r"[Ss]urf[\sib]", x))
#encuentro problemas porque también aparece la palabra surface

None

In [28]:
o='ojo con Boogie Board'
print(re.search(r"[Bb]oard", o))

<_sre.SRE_Match object; span=(15, 20), match='Board'>

In [29]:
"""Swimming after falling overboard
Scurfing (surfboard being  towed behind a boat)
Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat
Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board
Air Disaster - Piper aircraft crashed into the sea, killing all on board
Canoe with 3 men onboard sank
onboard y on board
Swimming, after falling off towed kneeboard
On board 51' fishing vessel One Ki
Onboard 21' powerboat that capsized in rough seas
Fell overboard  from the Taiwanese fishing trawler Lien Cheng Feu 
Sailboarding, fell into water 100 yards outside the breakwater
Motor launch Baby Princesa capsized with 22 people on board
 Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore
    'board'] en: Fishing from 34' boat when pulled overboard by hooked shark
['board'] en: Hauling dead shark aboard, when another shark leapt out of the water & bit him
    S.S. Marine Sulphur Queen, laden with molten sulphur was bound from Beaumont, Texas for Norfolk, VA, when she disappeared with 39 on board """

"Swimming after falling overboard\nScurfing (surfboard being  towed behind a boat)\nFishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat\nSinking of the 40' Esperanza off St. Maartin with 36 refugees on board\nAir Disaster - Piper aircraft crashed into the sea, killing all on board\nCanoe with 3 men onboard sank\nonboard y on board\nSwimming, after falling off towed kneeboard\nOn board 51' fishing vessel One Ki\nOnboard 21' powerboat that capsized in rough seas\nFell overboard  from the Taiwanese fishing trawler Lien Cheng Feu \nSailboarding, fell into water 100 yards outside the breakwater\nMotor launch Baby Princesa capsized with 22 people on board\n Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore\n    'board'] en: Fishing from 34' boat when pulled overboard by hooked shark\n['board'] en: Hauling dead shark aboard, when another shark leapt out of the water & bit him\n    S.S. Marine Sulphur Queen, laden with molten sulphur was bound from Beaumont, Texas for Norfolk, VA, when she disappeared with 39 on board "

In [30]:
other=df['Activity'] == 'Surfing'

In [31]:
import src.functions as f

In [32]:
df['Activity']=df['Activity'].apply(f.other_activity)

In [33]:
df.head(10)

        Case Id  Year        Country        Activity
0  2016.09.18.c  2016            USA         Surfing
1  2016.09.18.b  2016            USA         Surfing
2  2016.09.18.a  2016            USA         Surfing
3    2016.09.17  2016      AUSTRALIA         Surfing
4    2016.09.15  2016      AUSTRALIA         Surfing
5  2016.09.15.R  2016      AUSTRALIA  Other activity
6    2016.09.11  2016            USA  Other activity
7    2016.09.07  2016            USA  Other activity
8    2016.09.06  2016  NEW CALEDONIA    Kite surfing
9  2016.09.05.b  2016            USA  Other activity

In [34]:
df["Activity"].value_counts().head(10)

Other activity                    4320
Surfing                            898
Body surfing                        48
Windsurfing                         18
Surf skiing                         12
Surf fishing                        11
Sitting on surfboard                 9
Surfing (sitting on his board)       7
Surf skiing                          6
Kite Surfing                         6
Name: Activity, dtype: int64

In [35]:
df['Activity']=df['Activity'].apply(f.surf_related)

In [36]:
df["Activity"].value_counts()

Other activity    4320
Surf related      1118
Name: Activity, dtype: int64

In [37]:
df.head(10)

        Case Id  Year        Country        Activity
0  2016.09.18.c  2016            USA    Surf related
1  2016.09.18.b  2016            USA    Surf related
2  2016.09.18.a  2016            USA    Surf related
3    2016.09.17  2016      AUSTRALIA    Surf related
4    2016.09.15  2016      AUSTRALIA    Surf related
5  2016.09.15.R  2016      AUSTRALIA  Other activity
6    2016.09.11  2016            USA  Other activity
7    2016.09.07  2016            USA  Other activity
8    2016.09.06  2016  NEW CALEDONIA    Surf related
9  2016.09.05.b  2016            USA  Other activity

In [38]:
#detectando outliers
stats = df.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
Year,5438.0,1930.118978,275.719038,0.0,1944.0,1978.0,2004.0,2016.0,60.0

In [39]:
outliers = pd.DataFrame(columns=df.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 3
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = df[(df[col] < lower) | 
  
                   (df[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

/usr/local/lib/python3.5/dist-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [40]:
outliers.head(10)

            Activity       Case Id            Country Outlier  Year
5843  Other activity    1758.00.00  MEDITERRANEAN SEA    Year  1758
5844  Other activity    1749.00.00               CUBA    Year  1749
5846  Other activity    1748.00.00             PANAMA    Year  1748
5847  Other activity    1742.12.17            Unknown    Year  1742
5848  Other activity  1738.04.06.R              ITALY    Year  1738
5850  Other activity    1721.06.00              ITALY    Year  1721
5851  Other activity    1703.03.26           BARBADOS    Year  1703
5853  Other activity  1700.00.00.b             FRANCE    Year  1700
5854  Other activity  1700.00.00.a           BARBADOS    Year  1700
5855  Other activity  1642.00.00.b             GUINEA    Year  1642

In [41]:
outliers.shape

(122, 5)

In [42]:
#outliers.to_csv(r'/home/eduardo/Documentos//outliers.csv')

In [43]:
"""df2=pd.merge(df, outliers, on='Case Id')
df2.head(200)
df2.to_csv(r'/home/eduardo/Documentos//df2.csv')"""

"df2=pd.merge(df, outliers, on='Case Id')\ndf2.head(200)\ndf2.to_csv(r'/home/eduardo/Documentos//df2.csv')"

In [44]:
outliers=outliers[['Case Id','Outlier']]

In [45]:
outliers['Outlier']= 'Yes'

In [46]:
outliers.head(10)

           Case Id Outlier
5843    1758.00.00     Yes
5844    1749.00.00     Yes
5846    1748.00.00     Yes
5847    1742.12.17     Yes
5848  1738.04.06.R     Yes
5850    1721.06.00     Yes
5851    1703.03.26     Yes
5853  1700.00.00.b     Yes
5854  1700.00.00.a     Yes
5855  1642.00.00.b     Yes

In [47]:
df_outer = pd.merge(df, outliers, on='Case Id', how='outer')
df_outer

           Case Id  Year             Country        Activity Outlier
0     2016.09.18.c  2016                 USA    Surf related     NaN
1     2016.09.18.b  2016                 USA    Surf related     NaN
2     2016.09.18.a  2016                 USA    Surf related     NaN
3       2016.09.17  2016           AUSTRALIA    Surf related     NaN
4       2016.09.15  2016           AUSTRALIA    Surf related     NaN
5     2016.09.15.R  2016           AUSTRALIA  Other activity     NaN
6       2016.09.11  2016                 USA  Other activity     NaN
7       2016.09.07  2016                 USA  Other activity     NaN
8       2016.09.06  2016       NEW CALEDONIA    Surf related     NaN
9     2016.09.05.b  2016                 USA  Other activity     NaN
10    2016.09.05.a  2016           AUSTRALIA    Surf related     NaN
11      2016.09.04  2016                 USA  Other activity     NaN
12      2016.09.01  2016                 USA  Other activity     NaN
13    2016.08.29.b  2016                 USA    Surf related     NaN
14    2016.08.29.a  2016                 USA    Surf related     NaN
15      2016.08.27  2016             REUNION    Surf related     NaN
16      2016.08.25  2016                 USA  Other activity     NaN
17      2016.08.07  2016             BAHAMAS  Other activity     NaN
18      2016.08.06  2016                 USA  Other activity     NaN
19      2016.08.04  2016                 USA    Surf related     NaN
20      2016.07.29  2016               SPAIN  Other activity     NaN
21    2016.07.28.R  2016               CHINA  Other activity     NaN
22      2016.07.28  2016           AUSTRALIA  Other activity     NaN
23      2016.07.27  2016                 USA  Other activity     NaN
24      2016.07.26  2016           AUSTRALIA    Surf related     NaN
25      2016.07.24  2016               JAPAN    Surf related     NaN
26    2016.07.23.b  2016           AUSTRALIA    Surf related     NaN
27    2016.07.23.a  2016             BAHAMAS  Other activity     NaN
28      2016.07.20  2016           AUSTRALIA  Other activity     NaN
29      2016.07.17  2016                 USA  Other activity     NaN
...            ...   ...                 ...             ...     ...
5408       ND.0036     0        SAUDI ARABIA  Other activity     Yes
5409       ND.0035     0        SAUDI ARABIA  Other activity     Yes
5410       ND.0033     0               BURMA  Other activity     Yes
5411       ND.0032     0    PAPUA NEW GUINEA  Other activity     Yes
5412       ND.0031     0    PAPUA NEW GUINEA  Other activity     Yes
5413       ND.0030     0               BURMA  Other activity     Yes
5414       ND.0028     0               ITALY  Other activity     Yes
5415       ND.0027     0              GREECE  Other activity     Yes
5416       ND.0026     0              BELIZE  Other activity     Yes
5417       ND.0024     0             REUNION  Other activity     Yes
5418       ND.0023     0        SOUTH AFRICA  Other activity     Yes
5419       ND.0022     0           AUSTRALIA  Other activity     Yes
5420       ND.0021     0        SOUTH AFRICA  Other activity     Yes
5421       ND.0019     0                 USA  Other activity     Yes
5422       ND.0018     0             VIETNAM  Other activity     Yes
5423       ND.0017     0        SOUTH AFRICA  Other activity     Yes
5424       ND.0016     0        SOUTH AFRICA  Other activity     Yes
5425       ND.0015     0                FIJI  Other activity     Yes
5426       ND.0014     0                 USA  Other activity     Yes
5427       ND.0013     0        SOUTH AFRICA  Other activity     Yes
5428       ND.0012     0        SOUTH AFRICA  Other activity     Yes
5429       ND.0011     0               ASIA?  Other activity     Yes
5430       ND.0009     0           AUSTRALIA  Other activity     Yes
5431       ND.0008     0           AUSTRALIA  Other activity     Yes
5432       ND.0007     0           AUSTRALIA  Other activity     Yes
5433       ND.0006     0           AUSTRALIA  Other activity     Yes
5434       ND.0005     0           AUSTRALIA  Other activity     Yes
5435       ND.0004     0           AUSTRALIA  Other activity     Yes
5436       ND.0003     0                 USA  Other activity     Yes
5437       ND.0001     0  CEYLON (SRI LANKA)  Other activity     Yes

[5438 rows x 5 columns]

In [48]:
#hago un filtro para quitar los outliers y después la columna
df_filter= df_outer[(df_outer['Outlier']!='Yes')]
df_filter.head()
df_filter.shape

(5316, 5)

In [49]:
df_filter=df_filter[['Country','Year','Activity']]

In [50]:
df_filter.head()

     Country  Year      Activity
0        USA  2016  Surf related
1        USA  2016  Surf related
2        USA  2016  Surf related
3  AUSTRALIA  2016  Surf related
4  AUSTRALIA  2016  Surf related

In [51]:
"""#cambio el formato de case id
df_filter['Case Id'] = df_filter['Case Id'].str.replace('.', '-')
df_filter.head()
df_filter.shape"""

"#cambio el formato de case id\ndf_filter['Case Id'] = df_filter['Case Id'].str.replace('.', '-')\ndf_filter.head()\ndf_filter.shape"

'\ntop_marcas = df.groupby(\'Manufacturer\',as_index=False).agg({\'Combined MPG\':\'mean\',"Year":\'min\'})\n#top_marcas.reset_index()\ntop_marcas[(top_marcas["Manufacturer"]=="Ford")| (top_marcas["Manufacturer"]=="Audi")]\n#avg_mpg.columns = [\'Make\', \'Avg_MPG\']'

In [49]:
#con esta formula me puede interesar para ver cuantos casos de surfing antes y después de 1960, 
#época de la popularización del surf
#ojo aqui estamos viendo los casos en total habría que ver los dos tipos y el porcentaje

#df_antes = df_filter[(df_filter['Year']<1960)]
#df_despues = df_filter[(df_filter['Year']>1960)]
#df_antes['Year'].value_counts().sum()
#df_despues['Year'].value_counts().sum()

In [52]:
my_value_count = df_filter['Year'].value_counts()
before= my_value_count.loc[my_value_count.index < 1960].sum()
print('Estos fueron los ataques antes de 1960:',before)

Estos fueron los ataques antes de 1960: 1790

In [53]:
after=my_value_count.loc[my_value_count.index > 1960].sum()
print('Estos fueron los ataques después de 1960:',after)

Estos fueron los ataques después de 1960: 3441

In [54]:
cutoffs = [0,1960,2020]
mpg_labels = ['Before', 'After']
bins = pd.cut(df['Year'],cutoffs, labels=mpg_labels)

In [55]:
df_filter['when']=bins
df_filter=df_filter[["Year",'Activity']]
df_filter=df_filter.loc[(df_filter['Year']>=1900) & (df_filter['Year']<=2000)]
df_filter.head()

      Year        Activity
1668  2000  Other activity
1669  2000  Other activity
1670  2000  Other activity
1671  2000  Other activity
1672  2000  Other activity

In [56]:
#group_year= df_filter.groupby(["Year"]).sum()
#group_year
x=df_filter.groupby('Year')['Activity'].value_counts().to_frame()
x

                     Activity
Year Activity
1900 Other activity        12
1901 Other activity         9
1902 Other activity        13
1903 Other activity         9
1904 Other activity        13
1905 Other activity        15
1906 Other activity        19
1907 Other activity        21
1908 Other activity        11
1909 Other activity        15
1910 Other activity        11
     Surf related           1
1911 Other activity        15
1912 Other activity        11
1913 Other activity         8
1914 Other activity        15
1915 Other activity         8
1916 Other activity        23
1917 Other activity        11
1918 Other activity         4
     Surf related           1
1919 Other activity        14
1920 Other activity        13
1921 Other activity         9
1922 Other activity        19
     Surf related           1
1923 Other activity        18
1924 Other activity        19
1925 Other activity        10
1926 Other activity        19
...                       ...
1986 Other activity        20
     Surf related          15
1987 Other activity        21
     Surf related          10
1988 Other activity        30
     Surf related          21
1989 Other activity        31
     Surf related          19
1990 Surf related          19
     Other activity        16
1991 Other activity        27
     Surf related          10
1992 Other activity        34
     Surf related          19
1993 Other activity        38
     Surf related          14
1994 Other activity        27
     Surf related          25
1995 Other activity        44
     Surf related          24
1996 Other activity        34
     Surf related          19
1997 Other activity        31
     Surf related          23
1998 Other activity        34
     Surf related          29
1999 Other activity        37
     Surf related          27
2000 Other activity        64
     Surf related          28

[167 rows x 1 columns]

In [57]:
x = x.rename(columns={"Activity": "Atacks"})
x

                     Atacks
Year Activity
1900 Other activity      12
1901 Other activity       9
1902 Other activity      13
1903 Other activity       9
1904 Other activity      13
1905 Other activity      15
1906 Other activity      19
1907 Other activity      21
1908 Other activity      11
1909 Other activity      15
1910 Other activity      11
     Surf related         1
1911 Other activity      15
1912 Other activity      11
1913 Other activity       8
1914 Other activity      15
1915 Other activity       8
1916 Other activity      23
1917 Other activity      11
1918 Other activity       4
     Surf related         1
1919 Other activity      14
1920 Other activity      13
1921 Other activity       9
1922 Other activity      19
     Surf related         1
1923 Other activity      18
1924 Other activity      19
1925 Other activity      10
1926 Other activity      19
...                     ...
1986 Other activity      20
     Surf related        15
1987 Other activity      21
     Surf related        10
1988 Other activity      30
     Surf related        21
1989 Other activity      31
     Surf related        19
1990 Surf related        19
     Other activity      16
1991 Other activity      27
     Surf related        10
1992 Other activity      34
     Surf related        19
1993 Other activity      38
     Surf related        14
1994 Other activity      27
     Surf related        25
1995 Other activity      44
     Surf related        24
1996 Other activity      34
     Surf related        19
1997 Other activity      31
     Surf related        23
1998 Other activity      34
     Surf related        29
1999 Other activity      37
     Surf related        27
2000 Other activity      64
     Surf related        28

[167 rows x 1 columns]

In [58]:
x.reset_index(inplace = True) 
x.head()

   Year        Activity  Atacks
0  1900  Other activity      12
1  1901  Other activity       9
2  1902  Other activity      13
3  1903  Other activity       9
4  1904  Other activity      13

In [59]:
cool_df=x.pivot("Year",'Activity',"Atacks")

In [60]:
cool_df.head()

Activity  Other activity  Surf related
Year
1900                12.0           NaN
1901                 9.0           NaN
1902                13.0           NaN
1903                 9.0           NaN
1904                13.0           NaN

In [63]:
#cool_df.reset_index(inplace = True) 
print(cool_df.columns)
cool_df=cool_df.rename_axis(None)

Index(['Other activity', 'Surf related'], dtype='object', name='Activity')

In [64]:
cool_df.head()

Activity  Other activity  Surf related
1900                12.0           NaN
1901                 9.0           NaN
1902                13.0           NaN
1903                 9.0           NaN
1904                13.0           NaN

In [65]:
cool_df = cool_df.rename(columns={"Activity": "Year","Surf related": "Surf related attacks", "Other activity": "Other activity related attacks" })

In [66]:
cool_df.head()

Activity  Other activity related attacks  Surf related attacks
1900                                12.0                   NaN
1901                                 9.0                   NaN
1902                                13.0                   NaN
1903                                 9.0                   NaN
1904                                13.0                   NaN

In [67]:
cool_df["Surf related attacks"].fillna("0", inplace = True)

In [69]:
cool_df.head()

Activity  Other activity related attacks Surf related attacks
1900                                12.0                    0
1901                                 9.0                    0
1902                                13.0                    0
1903                                 9.0                    0
1904                                13.0                    0

In [70]:
cool_df['Other activity related attacks'] = cool_df['Other activity related attacks'].astype('int64')
cool_df['Other activity related attacks'].dtype
cool_df.head(5)

Activity  Other activity related attacks Surf related attacks
1900                                  12                    0
1901                                   9                    0
1902                                  13                    0
1903                                   9                    0
1904                                  13                    0